body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

#container {
    margin: auto;
    margin-top: 80px;
    background-color: white;
    height: 200px;
    width: 500px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#title {
    text-align: center;
    font-size: 2.5rem;
    display: block;
    margin-top: 30px;
    border-bottom: solid 20px;
    padding: 10px;
    text-shadow: 10px 5px 80px;
}

#task {
    margin-left: 30px;
    width: 380px;
    height: 30px;
    border-radius: 15px;
    margin-left: 10px;
    font-size: 1rem;
    position: relative;
    top: -30px
}

#botao {
    width: 70px;
    height: 35px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    font-size: 1rem;
    position: relative;
    top: -30px;
    background-color: rgb(240, 240, 240);
    transition: all ease 0.5s;
}

#conteudoLista {
    margin: auto;
    background-color: white;
    height: 300px;
    width: 500px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

table {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 480px;
}

td {
    border: solid 1px;
    padding-left: 5px;
    background-color: rgb(240, 240, 240);
}

th {
    border: solid 1px;
    background-color: rgb(170, 169, 169);
}

img {
    width: 20px;
    text-align: center;
}

#botao:hover {
    background-color: rgb(170, 169, 169);
}

.center {
    text-align: center;
}